@font-face{font-family:'Zodiak';src:url('/fonts/zodiak-400.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'Zodiak';src:url('/fonts/zodiak-700.woff2') format('woff2');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:'Zodiak';src:url('/fonts/zodiak-700-i.woff2') format('woff2');font-weight:700;font-style:italic;font-display:swap;}
@font-face{font-family:'Supreme';src:url('/fonts/supreme-400.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'Supreme';src:url('/fonts/supreme-500.woff2') format('woff2');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'Supreme';src:url('/fonts/supreme-700.woff2') format('woff2');font-weight:700;font-style:normal;font-display:swap;}
